@desktop: ~"only screen and (min-width: 992px)";
@tablet: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@smartphone: ~"only screen and (max-width: 767px)";
@smartphoneL: ~"only screen and (min-width: 480px) and (max-width: 767px)";
@smartphoneP: ~"only screen and (min-width: 320px) and (max-width: 479px)";

@lightgrey: #E6E6E6;
@darkgrey: #181818;
@yellow: #D7B84E;
@blue: #0071BC;

@header-height: 55px;
@header-border-height: 5px;
@footer-height: 35px;

.space-out(@min, @max) {
  .space-out-loop(@i) when (@i > 0) {
    .space-out-loop(@i - 1);
    &:first-child:nth-last-child(@{i}),
    &:first-child:nth-last-child(@{i}) ~ & {
      width: 1 / @i * 100%;
    }
  }
  .space-out-loop(@max);
}

//Header Font: Trajan Pro
//Content Font: Lato Light

html, body {
  margin: 0;
  padding: 0;
  z-index: 100;
  overflow-x: hidden;
}

html {
  position: relative;
  min-height: 100%;
}

body main {
  /* Margin bottom by footer height */
  margin-bottom: @footer-height;
  margin-top: @header-height + 15px;
}

a#impressum {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: #000;
    text-decoration: none;
  }
  &:active {
    color: #000;
    text-decoration: none;
  }
}

// Header
header {
  // Nav
  #custom-bootstrap-menu.navbar-default {
    border-bottom: @header-border-height solid @yellow;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 1);
  }
  #custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
  }
  #custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
  #custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: @blue;
  }
  #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
  #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
  #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: @blue;
  }
  #custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: @blue;
  }
  #custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
  #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: @blue;
  }
  #custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: @blue;
  }
  #custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
  #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
  }

  div > div > nav > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-size: 20px;
    }
}

.bannerHolder {
  margin-top: @header-height;
  height: 30vh;
  border-bottom: 10px solid @yellow;
  z-index: 1000;
}

// Footer
footer{
  background-color: @yellow;
  height: @footer-height;
  width: 100%;
  position: absolute;
  bottom: 0;

  div > div{
    text-align: center;
    line-height: @footer-height;

    &.impressum{
      font-size: 20px;
    }
    &.copyright{
      font-size: 10px;
    }
  }
}

// Body
div > div > .content{
  margin-top: 25px;
  padding-bottom: @footer-height + 25px;
}

// Menu
.menuCategories {
}

.menuFileContainer {
  div > .fileList {
    margin-top: 25px;
    list-style-type: none;
  }
}

// Contact
#map {
  height: 400px;
  width: 100%;
  margin: 20px;
}

// Admin
.adminLogin {
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"],
  .radio input[type="radio"],
  .radio-inline input[type="radio"] {
    margin-left: 0;
  }
}

#openingHoursBody {
  display: none;

  position: absolute;
  right: 0;
  top: @header-height - @header-border-height;

  z-index: 9999;
  border: 1px solid #000;
  border-radius: 5px;

  padding: 5px;
  background-color: #fff;

  width: 300px;
  height: auto;
}

@media @smartphone {
  header {
    div > div > nav > ul {
      font-size: 14px;
    }
  }
}